/* {
    -webkit-box-sizing: border-box ;
    background-color: #0d2ee9;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}*/

.containe{
    width:2000px;
    margin: auto;
    background-color: rgb(194, 57, 125);
    border-radius: 1000px;
    padding-right: 1px

}

.container .links li{
    border-radius: 100px
}

ul {
    list-style: none;
    padding: 0;
    margin: 0
}
@media screen and (max-width:1818){
    
}
    


.navbar { 
    background-color: rgba(17, 160, 72, 0.747);
    font-size: 30px;
    height: 0px
}

.navbar .brand {
    float:left;
    width: 30%
}

.navbar .links {
    color: #0d2ee9;
    float: left;
    margin-bottom: -10;
    width:70%;
    margin-top: 20px;
    font-weight: bold
}

.navbar .links li {
    font-size: 20px;
    display: inline-block;
    color: #bbbbbb;
    padding: 10px 15px;
    border-bottom: 2px solid transparent;
    border-radius: 12px;
    background-color: #e91e63;

}

.navbar .links li.active,
.navbar .links li:hover{
   color:rgb(2, 161, 161);
    border-bottom: 2px solid transparent
}



.clearfix {
    clear: both
}

.fard img{
    width: 1340px;
    height: 400px;
    
}

.box4 img{
    background-position:100px 600px;
    padding: 20px 10px 0px 450px;
    transition: transform .2s;
    width: 560px;
    height: 300px;
    margin: 0 auto;
    float: right

}

.box4 img:hover{
    transform: scale(1.1)
}

.small img{
    margin-top:1000px;
    background-position:100px 600px;
    padding: 0px 10px 0px 20px;
    transition: transform .2s;
    width: 560px;
    height: 300px;
   margin-top: -300px;
    float: left
}

.small img:hover{
    transform: scale(1.1)
}

/*.box{
    margin: 0px -100px 0px 0px;
  /*  background-image:url("../imgs/شرح-معبد-الكرنك-.jpg" );
    padding: 100px;
    width:5000px ;
    height: 500px;
    border-left: 1300px solid transparent;
    background-position: 0px 50px;
    background-repeat: no-repeat;
    border: rgb(187, 64, 64)
}*/


.box2{
   /* background-color: rgb(50, 77, 77);
    display: inline-block;
    font-size: 20px;
    padding-left: 1050px ;
    text-align: center;*/
    font-size: 20px;
    display: inline-block;
    padding: 8px 15px 0px 550px;
    border-bottom: 2px solid transparent;
   /* border-radius: 12px;*/
    background-color: #e91e63;
    font-weight: bold;
    width: 770px;


}

/*.box2 h3{
    padding-right: 150px;
    margin-left: -60px;
    text-indent: -80px;
    text-align: center;
    writing-mode: horizontal-tb
}*/

.box3{
    text-align: justify;
    font-size: 25px;
    color: rgb(5, 0, 10);
    padding-left: 760px;
    margin-top: -500;
    padding-top: 1000;
    padding-bottom: 60px;
    background-color: brown
}

.play{
    text-align: justify;
    font-size: 25px;
    color: rgb(8, 8, 8);
    margin-top:-350px;
    padding-right: 760px;
    padding-left: 20px;
    padding-bottom: 60px;
    background-color: brown 
}

.m1{
    font-size: 20px;
    display: inline-block;
    padding: 8px 15px 0px 550px;
    border-bottom: 2px solid transparent;
   /* border-radius: 12px;*/
    background-color: #302749;
    font-weight: bold;
    width: 770px;
} 
/*.zoom {
    padding: 50px;
    background-image: url(../imgs/download.jpg);
    transition: transform .2s;
    width: 200px;
    height: 200px;
    margin: 0 auto
  }
  
  .zoom:hover {
    transform: scale(1.5)
  }*/
  .head img{
    margin-top:-100px;
    background-position:100px 600px;
    padding: 0px 10px 0px 15px;
    transition: transform .2s;
    width: 560px;
    height: 300px;
   margin-top: 10px;
    float: left
  }

  .head img:hover{
    transform: scale(1.1)
}

.article img{
    background-position:100px 600px;
    padding: 20px 10px 0px 450px;
    transition: transform .2s;
    width: 560px;
    height: 300px;
    margin: 0 auto;
    margin-top: -320px;
    float: right

}

.article img:hover{
    transform: scale(1.1)
}


.m2{
    text-align: justify;
    font-size: 25px;
    color: rgb(8, 8, 8);
    margin-top:0px;
    padding-right: 760px;
    padding-left: 20px;
    padding-bottom: 60px;
    background-color: brown
}

.door{
    text-align: justify;
    font-size: 25px;
    color: rgb(5, 0, 10);
    padding-left: 760px;
    margin-top: -400px;
    padding-top: 1000;
    padding-bottom: 60px;
    background-color: brown
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;1,200&display=swap');
.big {
    Line-height: 1.5;
    Font-family: 'Poppins', sans-serif;
}
.container {
    Max-width: 1170px;
    Margin: auto;
}
.row {
    Display: flex;
    Flex-wrap: nowrap;
}
.foot {
    List-style-type: none;
}
.footer {
    Background-color: #24262b;
    Padding: 70px 0;
}
.footer-col {
    Width: 25%;
    Padding: 0 15px;
}
.footer-col h4 {
    Font-size: 18px;
    Color: #0d2ee9;
    Text-transform: capitalize;
    Margin-bottom: 35px;
    Font-weight: 500;
    Position: relative;
}
.footer-col h4::before {
    Content: "";
    Position: absolute;
    Left: 0;
    Bottom: -10px;
    Background-color: #e91e63;
    Height: 2px;
    Box-sizing: border-box;
    Width: 55px;
}
.footer-col .foot .fooo:not(:last-child) {
    Margin-bottom: 10px;
}
.footer-col .foot .fooo .foo {
    Font-size: 16px;
    Text-transform: capitalize;
    Color: #e40a0a;
    Text-decoration: none;
    Font-weight: 300;
    Color: #bbbbbb;
    Display: block;
    Transition: all 0.3s ease;
}
.footer-col .foot .fooo .foo:hover {
    Color: #ffffff;
    Padding-left: 8px;
}
.footer-col .social-links .foo {
    Display: inline-block;
    Height: 40px;
    Width: 40px;
    Background-color: rgba(241, 0, 12, 0.2);
    Margin: 0 10px 10px 0;
    Text-align: center;
    Line-height: 40px;
    Border-radius: 50%;
    Color: #ffffff;
    Transition: all 0.5s ease;
}
.footer-col .social-links .foo:hover {
    Color: #24262b;
    Background-color: #ffffff;
}
@media(max-width:767px) {
    .footer-col {
        Width: 50%;
        Margin-bottom: 30px;
    }
}
@media(max-width: 574px) {
    .footer-col {
        Width: 100%;
    }
}
